<h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
<div class="container">
  <div class="d-grid gap-2 d-flex justify-content-end">
    <a class="btn btn-success btn-sm" role="button" href="/restaurants/{{ restaurant._id }}/edit">編輯</a>
    <a class="btn btn-danger btn-sm" role="button" href="/restaurants/{{ restaurant._id }}/delete">刪除</a>
    <a class="btn btn-primary btn-sm" role="button" href="/">返回</a>
  </div>
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils"></i>
          類別：
        </span>
        {{restaurant.category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt"></i>
          地址：
        </span>
        {{restaurant.location}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt"></i>
          電話：
        </span>
        {{restaurant.phone}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-star"></i>
          評分：
        </span>
        {{restaurant.rating}}
      </p>

      <hr>
      <p class="mb-5">
        {{restaurant.description}}
      </p>

      <img class="rounded mx-auto d-block mb-4 w-100" src={{restaurant.image}} alt={{restaurant.name}}
        style="max-width: 600px;">
    </div>
  </div>
</div>